/*toppage*/

.title{
  text-align:center; 
  margin-top: 30px;
  margin-bottom: 50px;
}

.logo {
  margin: 20px auto;
  width:256px;
}

.bottun{
  text-align:center;
  margin: 20px;
}



/* search */
.search {
  margin-bottom: 20px;
}

/* book */
.book .panel-body {
  height: 60px;
  background-color: #ffead6;
}
.book .panel-heading {
  height: 230px;
  background-color: #fff;
}
.book .panel-heading img {
  height: 100%;
  max-width: 100%;
}
p.book-title {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.book_show　{
  float: left;
  width: 60%;
  height: 100px;
  background-color: #ddffdd;
}
