/*navbar全体の色*/

.navbar-default {
background-color: #ffa500;
border-color: #b26400;
}

/*navbar文字色*/
.navbar-default .navbar-nav > li > a {
color: #5e3800;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: #4c3727;
background-color: transparent;
}
.navbar-brand {
  color: #5e3800;
}

/*toppage*/
.title{
  text-align:center; 
  margin-top: 30px;
  margin-bottom: 50px;
}

.logo {
  margin: 20px auto;
  width:256px;
}

.bottun{
  text-align:center;
  margin: 20px;
}
