@charset "UTF-8";
/* search */
/* line 3, /home/ec2-user/environment/tabelib/app/assets/stylesheets/books.scss */
.search {
  margin-bottom: 20px;
}

/* item */
/* line 8, /home/ec2-user/environment/tabelib/app/assets/stylesheets/books.scss */
.item .panel-body {
  height: 70px;
}

/* line 11, /home/ec2-user/environment/tabelib/app/assets/stylesheets/books.scss */
.item .panel-heading {
  height: 250px;
}

/* line 14, /home/ec2-user/environment/tabelib/app/assets/stylesheets/books.scss */
.item .panel-heading img {
  height: 100%;
  max-width: 100%;
}

/* line 18, /home/ec2-user/environment/tabelib/app/assets/stylesheets/books.scss */
p.item-title {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
