<div class="title">
  <h1>食べログ図書館</h1>
</div>
<div class="logo">
  <img src="book.png" class="img-responsive" alt=""></p>
</div>

<div class="top_bottun">
<%= link_to 'ログイン', new_user_session_path, class: 'btn btn-lg btn-success' %>
</div>
<div class="top_bottun">
<%= link_to '新規登録', new_user_registration_path, class: 'btn btn-lg btn-success' %></div>
</div>