
/*画像と文書を並べて表示時する*/

.inner img{
width:400px;
max-width: 100%;
height: auto;
margin:20px;
	}
.inner .delete{
	width:400px;
	text-align: center;
	
}
.content {
 	overflow: hidden;
 	padding: 30px 0px 0px 30px;
	font-size: 18px;
	float:right;
   }
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}